body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("https://i.imgur.com/VzfgsWt.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
}

.top-menu {
  display: flex;
  align-items: center;
  justify-content: center; /* centra i link */
  position: relative;      /* necessario per posizionare il logo */
  gap: 15px;
  padding: 15px;
  flex-wrap: wrap;
  background-color: rgba(0,0,0,0.6);
}

.footer {
  
  background-color: rgba(0,0,0,0.6);
  color: white;
  text-align: center;
  padding: 15px 0;
}

.footer-logo {
  position: absolute;
  left: 20px;
  height: 60px;
}

/* LOGO A SINISTRA */
.logo {
  position: absolute;
  left: 15px;
  height: 60px;
}



.menu-links {
  display: flex;
  gap: 15px;           /* spazio tra i blocchetti */
}

.menu-box {
  padding: 10px 20px;
  background-color: rgba(34,34,34,0.8);
  border-radius: 8px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: 0.3s;
  position: relative; /* NON assoluto! */
}

.menu-box:hover {
  background-color:white;
  color:black;
}

.menu-box-selezionato {
padding: 10px 20px;
  background-color: rgba(87, 57, 15, 0.8);
  border-radius: 8px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: 0.3s;
  position: relative;

}


.intro{
  margin: 50px 20px;
  max-width: 900px;
  text-align: justify;
  background-color: rgba(0,0,0,0.4); 
  padding: 20px;
  border-radius: 15px;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  line-height: 1.6;
}

.flex-container {
  display: flex;
  gap: 20px;       /* spazio tra le colonne */
  align-items: flex-start;
  margin: 20px;
}

.colonna-grande {
  flex: 3;         /* 3/4 dello spazio */
}

.colonna-piccola {
  flex: 1;

}
 
.galleriahome {
  display: flex;
  flex-direction: column; /* una sotto l’altra */
  gap: 103px;             /* spazio tra le immagini */
margin-top: 50px;
width: 300px;
}

.galleria3 {
  display: flex;
  flex-direction: column; /* una sotto l’altra */
  gap: 70px;             /* spazio tra le immagini */
margin-top: 50px;
width: 300px;
}

.galleria4 {
  display: flex;
  flex-direction: column; /* una sotto l’altra */
  gap: 150px;             /* spazio tra le immagini */
margin-top: 50px;
width: 300px;
}

.galleria5 {
  display: flex;
  flex-direction: column; /* una sotto l’altra */
  gap: 84px;             /* spazio tra le immagini */
margin-top: 50px;
width: 300px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 28px;
  }

  p {
    font-size: 16px;
  }

  .top-menu {
    flex-direction: column;
  }
}
